
<style>

p.r{color:red}
table {
    width: 100%
}
table > * {
    font-size:10px;
}

.markdown table tr th, .markdown table tr td {
  padding: .1rem .1rem;
  line-height: 0px;
}
div.box {
    display:flex;
    height:600px;
    flex-wrap: wrap;
}
div.box > * {
    margin: 10px;
}
div.left {
    flex: 1.5;
}
div.box div.right {
    height:600px;
    overflow-y: scroll;
    flex: 1;
}

</style>

<div class="box">
    <div class="left">
        <img src="/images/ZoneMap2.gif"/>
    </div>
    <div class="right">
        <b>Recommended Zones for  selected Tree Crops</b>
<!--Following table first created 99-1-28 10:01 PM by Claris Home Page version 2.0-->
<table>
      <tr>
         <td >
            <P><font color="blue">NUTS</font></p>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td></TR>
      <TR>
         <td >
         <p class=r>ZONE</p>
         </td><td>
            <p class=r>1</p>
         </td><td>
            <p class=r>2</p>
         </td><td>
            <p class=r>3</p>
         </td><td>
            <p class=r>4</p>
         </td><td>
            <p class=r>5</p>
         </td><td>
            <p class=r>6</p>
         </td><td>
            <p class=r>7</p>
         </td><td>
            <p class=r>8</p>
         </td><td>
            <p class=r>9</p>
         </td><td>
            <p class=r>10</p>
         </td><td>
            <p class=r>11</p>
         </td><td>
            <p class=r>12</p>
         </td></TR></font>
      <TR>
         <td >
            <P>Almond
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Brazil
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Bunya
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Cashew
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>-
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Chestnut
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>?
         </td></TR>
      <TR>
         <td >
            <P>Coconut
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>O
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Ginkgo
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Hazel
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Jojoba
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Macadamia
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Marula
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>?
         </td></TR>
      <TR>
         <td >
            <P>Oaks
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td></TR>
      <TR>
         <td >
            <P>Parana Pine
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Peanut
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Pecan
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Pistachio
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Quandong
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td></TR>
      <TR>
         <td >
            <P>Stone Pine
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td></TR>
      <TR>
         <td >
            <P>Tung
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>?
         </td></TR>
      <TR>
         <td >
            <P>Walnut
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td></TR>
      <TR>
         <td >
            <P><font color="blue">FODDER TREES</font></p>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td></TR>
      <TR>
         <td >
            <P>Leucaena
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Tagasaste
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P><font color="blue">FRUITS</font></p>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td><td>
            <P>
         </td></TR>
      <TR>
         <td >
            <p class=r>ZONE</p>
         </td><td>
            <p class=r>1</p>
         </td><td>
            <p class=r>2</p>
         </td><td>
            <p class=r>3</p>
         </td><td>
            <p class=r>4</p>
         </td><td>
            <p class=r>5</p>
         </td><td>
            <p class=r>6</p>
         </td><td>
            <p class=r>7</p>
         </td><td>
            <p class=r>8</p>
         </td><td>
            <p class=r>9</p>
         </td><td>
            <p class=r>10</p>
         </td><td>
            <p class=r>11</p>
         </td><td>
            <p class=r>12</p>
         </td></TR></font>
      <TR>
         <td >
            <P>Arbutus</p>
         </td><td>
            <P>-</p>
         </td><td>
            <P>-</p>
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Asimina
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Blueberry
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Casimiroa
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>?
         </td></TR>
      <TR>
         <td >
            <P>Cherimoya
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>W
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>W
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Date
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td></TR>
      <TR>
         <td >
            <P>Eugenias
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Feijoa
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>?
         </td></TR>
      <TR>
         <td >
            <P>Jujube
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td></TR>
      <TR>
         <td >
            <P>Mango
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>?
         </td><td>
            <P>W
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Nashi
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td></TR>
      <TR>
         <td >
            <P>Olive
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>O
         </td><td>
            <P>?
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td></TR>
      <TR>
         <td >
            <P>Persimmon
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>O
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>O
         </td><td>
            <P>?
         </td></TR>
      <TR>
         <td >
            <P>Raspberry
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>-
         </td><td>
            <P>?
         </td><td>
            <P>?
         </td><td>
            <P>O
         </td><td>
            <P>R
         </td><td>
            <P>R
         </td><td>
            <P>W
         </td><td>
            <P>W
         </td></TR>
   </table>
<br />
KEY: R=Recommended; O=Should grow OK; W=Water needed; ?=Insufficient data; --=Not recommended.
<hr />
</center>
<hr />
<center>
<br />
<font size=1>Updated '06 June 27</font>
<br />
    </div>
</div>